@charset "UTF-8";
/* CSS Document */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*---------------------end of style reset-----------------------*/


body {
  margin: 0;
  font-family: 'Major Mono Display', monospace;
  background-color: white;
}

footer { 
  font-family:'Major Mono Display', monospace;
  text-align: center; 
  margin-bottom: 20px; 
  margin-top: -50px; 
}

#copyright { 
  font-size: 10px; 
  margin-top: 5px; 
}

a {
  color: black;
}

/*---------------header---------------*/ 
*,
*:before,
*:after {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

a:hover {
    text-decoration: none;
}

.container {
    margin: 0 auto;
}

.screen-reader-text {
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    overflow: hidden;
    position: absolute !important;
    width: 1px;
}


/*------ navigation ---------*/
nav {
    background: white;
    color: black;
    left: 0;
    position: relative; 
    top: -9px;
    width: 100%;
	height: 60px; 
    z-index: 9999;
}

/* INPUT */
nav input {
    opacity: 0;
    position: absolute;
	z-index: -1;
}

/* CODED */
nav label {
    cursor: pointer;
    position: relative;
	top: 15px; 
	left: -756px; 
    font-family: 'Major Mono Display', monospace;
	font-size: 30px; 
    padding: 10px;
}

/* Hamburger Icon */
#menu-icon,
#menu-icon:before,
#menu-icon:after {
    background: black;
    border-radius: 4px;
    height: 4px;
    transition: all 0.2s ease-in-out;
    width: 100%;
}

#menu-icon {
    display: inline-block;
    margin-top: 15px;
    max-width: 32px;
    position: relative;
	left: 709px;
	
}

nav label #menu-icon {
    float: right;
}

#menu-icon:before,
#menu-icon:after {
    content: '';
    left: 0;
    position: absolute;
}

#menu-icon:before {
    top: -10px;
}

#menu-icon:after {
    bottom: -10px; 
}

/* Close Icon */
nav input[type=checkbox]:checked + label #menu-icon {
    background: transparent;
}

nav input[type=checkbox]:checked + label #menu-icon:before {
    top: 0;
    transform: rotate(-45deg);
	background: white; 
	
}

nav input[type=checkbox]:checked + label #menu-icon:after {
    bottom: 0;
    transform: rotate(45deg); 
	background: white; 
}

/*** MENU ***/

/* Overlay */
nav input:checked ~ #overlay {
    background: #111111;
    bottom: 0;
    left: 0;
    height: 100vh;
    position: fixed;
    right: 0;
    top: 0;
    width: 100vw;
    z-index: -1;
}

/* List */
nav ul {
    font-size: 50px;
    list-style: none;
    margin: 0;
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    padding: 0;
    text-align: center;
}

nav input:checked ~ ul {
    margin: 350px;
    max-height: inherit;
    opacity: 1;
}

nav ul > li {
    margin: 10px 40px;
	display: inline-block;  
	
}

nav ul a {
    color: white !important;
    text-decoration: none;
}

nav ul a:hover {
    text-decoration: underline;
}


/*--------------Images-------------*/
.container {
	margin: 5px;
	margin-top: 5px;
	position: relative;
	text-align: center;
  }

#bottom-left {
	color: white;  
  }

#share { 
	width: 23px; 
	height: 24px;
	float: left; 
	position: relative; 
	top: -40px; 
	left: 7px; 
	
}

.top-right {
	color: white;
	font-family:'Major Mono Display', monospace;
	font-size: 16px;
	background-image: url('redrec.png');
	padding-top: 180px;
	padding-left: 20px; 
	padding-right: 20px; 
}

  
body {
	margin: 0;
  }
  
.header {
  }

.Gallery{
	margin-top: -20px; 
	margin-left: 20px; 
	padding: 0px 50px 30px; 
}

img{
	object-fit: cover;    
}
#jhop{
	width: 100%;
 	height: 411px;
}

#tr1{ 
	width: 100%; 
	height: 410px;
}

#s1 {
	width: 295%; 
	height: 500px; 
}

#redrec{ 
	width: 100%; 
	height: 500px; 
}

#seong { 
	width: 100%; 
	height: 365px;
	
}

#Blue { 
	height: 140px; 
}

.rowFlex{
	display: flex;
	flex-direction: row;
}
  
.Row{
	display: -ms-flexbox; /* IE10 */
	display: flex;
	-ms-flex-wrap: wrap; /* IE10 */
	flex-wrap: wrap;
}

/*---------columns---------*/
 
.Col{
  -ms-flex: 28%; /* IE10 */
  flex: 28%;
  max-width: 100%;
  height: 100%;
	
}
  
.Col-8{
	-ms-flex: 40%; /* IE10 */
	flex: 40%;
	max-width: 100%;
}
.Col-6{
	-ms-flex: 30%; /* IE10 */
	flex: 30%;
	max-width: 100%;
}

.Col img{
	vertical-align: middle;
	width: 100%;
}
.Col-8 img{
	vertical-align: middle;
	width: 100%;
	max-width: 100%; 
	height: auto; 
}
.Col-6 img{
	vertical-align: middle;
	width: 100%;
}

/*---------Media Queries---------*/ 
  
@media screen and (max-width: 800px) {
.Col, .Col-8, .Col-6 {
 -ms-flex: 100%;
 flex: 100%;
 max-width: 100%; 
	}
	#menu-icon { position: relative; left: 120px;  }
	nav label {position: relative; left: -170px; }
	#tr1 { width: 200px; height: 411px; }
	footer { margin-top: -10px; }
	#Blue { margin-bottom: -24px; }
	#share { top: -13px;}
	
	nav ul { font-size: 30px; 
		display: relative; 
		left: -1000px; 
		overflow: visible; 
	}
	
	nav input:checked ~ ul {
    	margin: 150px;
		margin-top: 300px; 
	
    }
}

/* ---- END MEDIA ---*/
